@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

@layer base {
  li {
    @apply p-4;
  }

  button {
    @apply text-white border bg-green border-green
    hover:bg-transparent hover:text-green rounded-md;
  }
}
